.banner {
  height: 100vh;/*vh is viewport height; here you're sayng 100% of vh; this will adjust the banner depending on the size of your window*/
  background: linear-gradient(135deg, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.3) 80%), url("http://unsplash.it/1000/500/?random");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner h1 {
  font-size: 50px;
  font-weight: bolder;
}

.banner p {
  font-size: 30px;
  font-weight: lighter;
  opacity:  0.8;
  margin-button: 20px;
}