.btn-medium {
  color: #808080;
  border: 1px solid #808080;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #808080;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #D4312D;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #D4312D;
  text-decoration: none;
  color: white;
}