.card {
  position: relative;
  height: 200px;
  background: linear-gradient(135deg, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.3) 80%), url("http://unsplash.it/400/300/?random");
  background-size: cover;
  color: white;
}

.card-image {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}